@*@model List<DoAn02.Models.Cart>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="mini_cart_wrapper">
            <a asp-controller="Carts" asp-action="Index">
                Giỏ Hàng <img src="~/assets-shop/img/shopping-bag.png" alt="">
                @Model.Count()
            </a>
        </div>
    }

    else
    {
        <div class="mini_cart_wrapper">
            <a asp-controller="Carts" asp-action="Index">Giỏ Hàng <img src="~/assets-shop/img/shopping-bag.png" alt="">0</a>
        </div>*@
    }

@*@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor


@{
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString(DoAn02.Controllers.CartsController.CARTKEY);
    if (jsoncart != null)
    {
        var cart = JsonConvert.DeserializeObject<List<DoAn02.Models.Cart>>(jsoncart);
    <div class="mini_cart_wrapper">
        <a asp-controller="Carts" asp-action="Index">Giỏ Hàng <img src="~/assets-shop/img/shopping-bag.png" alt="">0
    Giỏ hàng(@cart.Count)</a></div>

    }
}*@