@model DoAn02.Models.Account

<form asp-controller="Accounts" asp-action="Login" method="post">
    <div class="from-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="from-control" />
    </div>
    <div class="from-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="from-control" />
    </div>
    <div class="from-group">
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </div>
    <p>@ViewBag.BaoLoi</p>
</form>