@model IEnumerable<DoAn02.Models.ProductType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Hoverable rows start -->
<section class="section">
    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <h1>LOẠI SẢN PHẨM</h1>
                <div class="card-content">
                    <div class="card-body">
                        <p>
                            <a asp-controller="ProductTypes" asp-action="Create" class="btn btn-info">TẠO LOẠI SẢN PHẨM</a>
                        </p>
                    </div>
                    <!-- table hover -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>TÊN</th>
                                    <th>TRẠNG THÁI</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>
                                            @if (item.Status == true)
                                            {
                                                <span class="badge bg-success text-white">ACTIVE</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-primary text-white">UNACTIVE</span>
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Sửa</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Chi Tiết</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .card .card-body {
        padding: 23px 0 10px 8px;
    }

    .card {
        padding: 1rem;
        margin: 1rem;
    }
</style>
