@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_LayoutShop";
}

@section head{
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>iShop - Cửa Hàng Điện Thoại Di Động Online</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets-shop/img/favicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets-shop/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets-shop/css/style.css">
    <link rel="stylesheet" href="~/assets-shop/css/custom.css">
}


<section class="account">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="account-contents" style="background: url('assets/img/about/about1.jpg'); background-size: cover;">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="account-thumb">
                                <h2>Quên mật khẩu?</h2>
                                <p>Nhập email để lấy lại mật khẩu</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="account-content">
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="single-acc-field">
                                        <label for="email">Email</label>
                                        <input type="email" asp-for="Input.Email" placeholder="Nhập email của bạn..">
                                    </div>
                                    <div class="single-acc-field">
                                        <button type="submit">Reset Password</button>
                                    </div>
                                    <a asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
